<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>

</div>


<div class="container-fluid d-flex flex-column">
    <h1 class="text-center text-white mt-5" >Uups something went wrong you dont have permission for this page!(403)</h1>
    <div  class="wrapper d-flex justify-content-center">

        <div>        <img class="" src="https://clipart-library.com/img/1074400.png" alt="broken car">
        </div>




    </div>



</div>
<nav th:replace="~{fragments/navbar}"></nav>
<div>
    <footer> </footer>
</div>

</body>
</html>
