<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div  class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="details-offer offer details-offer col-sm-2 col-md-3  col-lg-4 m-1 p-0" >

            <div class="card-body pb-1">
                <h2 class="card-title" th:text="|${offer.getModel()}  ${offer.getYear()}|"></h2>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item d-flex flex-column">


                    <div class="card-text">
                        <span>• Euro Standard: </span>
                        <th:block th:text="${offer.getStandard()}">12345</th:block>
                    </div>
                    <div class="card-text">
                        <span>• Price: </span>
                        <th:block th:text="${offer.getPrice()}">123</th:block>
                    </div>
                    <div class="card-text">
                        <span>• Condition: </span>
                        <th:block th:text="${offer.getConditionName()}">123</th:block>
                    </div>
                    <div class="card-text">
                        <span>• Horse Power: </span>
                        <th:block th:text="${offer.getHorsePower()}">123</th:block>
                    </div>
                    <div class="card-text">
                        <span>• Cubic Centimeters: </span>
                        <th:block th:text="${offer.getCubicCentimeters()}">123</th:block>
                    </div>
                    <div th:if="${offer.getModel().startsWith('CAR')}" class="card-text">
                        <span>• Engine type</span>
                        <th:block th:text="${offer.getEngine()}">PETROL</th:block>
                    </div>

                    <div th:if="${offer.getModel().startsWith('MOTORCYCLE')}" class="card-text">
                        <span>• Moto hours</span>
                        <th:block th:text="${offer.getMotoHours()}">PETROL</th:block>
                    </div>
                    <div th:if="${offer.getModel().startsWith('TRUCK')}" class="card-text">
                        <span>• Axles: </span>
                        <th:block th:text="${offer.getAxles()}">PETROL</th:block>
                    </div>
                    <div class="card-text">
                        <span>• Transmission type :</span>
                        <th:block th:text="${offer.getTransmission()}">TRANSMISSION</th:block>
                    </div>



                    <div class="card-text">
                        <span>• Mileage: </span>
                        <th:block th:taxt="${offer.getMileage()}">12345</th:block>
                    </div>

                    <div class="card-text">
                        <span>• Description: </span>
                        <th:block th:taxt="${offer.getDescription()}">12345</th:block>
                    </div>





                    <div class="card-text"><span>• Offer created - TODO</span></div>
                    <div class="card-text"><span>• Offer modified - TODO</span></div>
                    <div class="card-text"><span>•Buy</span></div>
                </li>
            </ul>
            <div class="card-body" >
                <form th:method="delete"
                      th:action="@{/offers/delete/{offerUUID}(offerUUID=*{id})}">
                    <input type="submit" value="Delete" class="link card-link btn primary mb-3"/>
                </form>
                <a th:href="@{/users/details/{userId}(userId=${offer.getPosBy()})}" class="btn secondary mb-3">For Sale</a>
            </div>
        </div>
        <div class="offer section-img details-offer col-sm-2 col-md-3  col-lg-4 m-1 p-0 ">
            <img th:src="${offer.getImageUrl()}"  class="card-img first-pic"  alt="Car image">
            <img th:src="${offer.getSecondImageUrl()}"  class="card-img second-pic"  alt="Car image">
        </div>
    </div>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
