<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>

</div>


<div class="container-fluid d-flex flex-column">
    <h1 class="text-center text-white mt-5" >VIP Offers</h1>
    <div  class="wrapper">
        <div th:each="offer : ${vipOffers}" class="vehicle-card">
            <div class="details">
                <div class="thumb-gallery">
                    <img class="first" th:src="${offer.getImageUrl()}" />
                    <img class="second" th:src="${offer.getSecondImageUrl()}" />
                </div>
                <div class="info">
                    <h2 class="vip" th:if="|${offer.isVip()}|">VIP</h2>
                    <h3 th:text="|${offer.getModel()} ${offer.getYear()}|">Bugatti Chiron</h3>
                    <div class="stars" data-stars="1">
                        <svg height="22" width="20" class="star rating" data-rating="5">
                            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                        </svg>
                        <svg height="22" width="20" class="star rating" data-rating="2">
                            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                        </svg>
                        <svg height="22" width="20" class="star rating" data-rating="3">
                            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                        </svg>
                        <svg height="22" width="20" class="star rating" data-rating="4">
                            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                        </svg>
                        <svg height="22" width="20" class="star rating" data-rating="5">
                            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                        </svg>
                    </div>
                    <div class="price">
                        <span>Price Starting at</span>
                        <h4 th:text="|${offer.getPrice()}BGN|">$2,998,000</h4>
                    </div>
                    <div class="ctas">
                        <a th:href="@{offers/details/{id}(id=*{offer.getId()})}" class="btn primary">Model Details</a>
                        <a href="https://youtube.com" class="btn secondary">For Sale</a>
                        <div style="clear:both;"></div>

                </div>
            </div>
        </div>
    </div>



</div>
<nav th:replace="~{fragments/navbar}"></nav>
<div>
    <footer> </footer>
</div>

</body>
</html>
